<nav class="navbar navbar-bg" >
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <img class="m-4 img-fluid" src="https://iili.io/djADqlf.png" alt="Image" style="max-width: 80px; height: auto;" routerLink="/home">
    <!-- Toggle Button to Show/Hide Navbar -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="background-color: white;"></span>
    </button>
  </div>
</nav>

<section class="gradient-bg text-left " *ngIf="isMenuOpen">
  <div class=" d-flex justify-content-between p-5 ">
      <div class="left-section p-3 m-5">
          <div class="menu-container ">
              <div class="menu-item">
                  <span class="menu-number">01</span>
                  <span class="menu-item" id="item-1">HOME</span>
              </div>
              <div class="menu-item">
                  <span class="menu-number">02</span>
                  <span class="menu-item" id="item-2">ABOUT US</span>
              </div>
              <div class="menu-item">
                  <span class="menu-number">03</span>
                  <span class="menu-item" id="item-3">SERVICES</span>
              </div>
              <div class="menu-item">
                  <span class="menu-number">04</span>
                  <span class="menu-item" id="item-4">BLOG</span>
              </div>
              <div class="menu-item">
                  <span class="menu-number">05</span>
                  <span class="menu-item" id="item-5">BOOK A MEETING</span>
              </div>
              <div class="menu-item">
                  <span class="menu-number">06</span>
                  <span class="menu-item" id="item-6">OUR WORK <i class="fa-solid fa-plus icon "  (click)="toggleList()"></i>
                    <div *ngIf="isListVisible">
                      <span class="menu-item " id="item-7">ONE SOFTWARE DEVELOPMENT</span><br>
                      <span class="menu-item " id="item-8">ONE BRANDING</span><br>
                      <span class="menu-item" id="item-9">ONE SOCIAL MEDIA</span><br>
                      <span class="menu-item" id="item-10">ONE EVENTS</span><br>
                      <span class="menu-item" id="item-11">ONE PRODUCTION & MOTION</span><br>
                      <span class="menu-item" id="item-12">ONE MEDIA BUYING</span><br>
                    </div></span>
              </div>
          </div>
      </div>

      <div class="right-section m-5 ">
          <div class="p-5 m-5">
              <div class="m-5">
                  <h2 class="text-main " style="font-weight: bold;">Get In
                      Touch</h2>
                  <p class="text-main " style="font-size: 20px;">KSA - Riyadh
                      - Al-Quds District -<br> 2438 - Prince Saud bin
                      Abdula ziz<br> Rd - 13214 – 7470 Unit <br>
                      Ph: +966500241319 <br>
                      Ph: +966563973542</p>
              </div>
              <div class="m-5">
                  <h2 class="text-main " style="font-weight: bold;">Work
                      Inquiries</h2>
                  <p class="text-main " style="font-size: 20px;">
                    info&commat;onsoluteonsolute.com<br>
                      Whatsapp: +966 50 024 1319 <br>
                      Ph: +966 50 024 1319</p>
              </div>
              <div class="m-5">
                <a href="https://www.behance.net/1onesolute" target="_blank">
                    <i class="fa-brands fa-behance text-main m-3" style="font-size: 25px;"></i>
                </a>
                <a href="https://www.instagram.com/1onesolute/?igshid=NGVhN2U2NjQ0Yg%3D%3D" target="_blank">
                    <i class="fa-brands fa-instagram text-main m-3" style="font-size: 25px;"></i>
                </a>
                <a href="https://www.linkedin.com/company/1onesolute/posts/?feedView=all" target="_blank">
                    <i class="fa-brands fa-linkedin text-main m-3" style="font-size: 25px;"></i>
                </a>
                <a href="https://x.com/i/flow/login?redirect_after_login=%2F1onesolute" target="_blank">
                    <i class="fa-brands fa-twitter text-main m-3" style="font-size: 25px;"></i>
                </a>
            </div>

          </div>
      </div>
      <div>
      </div>
  </div>
</section>
