<section class="gradient-bg ">
    <div class=" p-5 ">
        <p class="text-main" style="font-size: 20px">LOOK NO FURTHER!</p>
        <h1 class="text-main" style="font-family: 'Playfair Display', serif; font-size: 75px;font-weight: bold;">Are you ready to take <br> your business to new <br>heights?
        </h1>
        <p class="text-main mt-4" style="font-family: 'Roboto', sans-serif; font-size: 25px;">We understand the unique challenges faced by businesses in Saudi
            Arabia, and we’re <br> here to help you conquer them. With our
            extensive expertise, innovative strategies, <br> and tailored
            solutions, we ensure your brand stands out in the competitive
            market.</p>

            <button class="custom-button mt-5">Let’s Schedule a Meeting</button>
          </div>
</section>
